---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # renovate: datasource=pypi depName=ruff
    rev: v0.5.3
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/adrienverge/yamllint.git
    rev: "v1.27.1"
    hooks:
      - id: yamllint
        language_version: python3
