---
name: Test

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Test with pytest
        run: |
          pytest

  build-container:
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
      packages: "write"

    steps:
      - uses: "actions/checkout@v3"
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v1

      - name: "Login to GitHub Container Hub"
        if: github.event_name != 'pull_request'
        uses: "docker/login-action@v2"
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Metadata"
        uses: "docker/metadata-action@v3"
        id: "metadata"
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr

      - name: "Build Container Image"
        uses: docker/build-push-action@v3
        with:
          context: "."
          file: "docker/Dockerfile"
          labels: ${{ steps.metadata.outputs.labels }}
          platforms: "linux/arm/v7,linux/arm64,linux/amd64"
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.metadata.outputs.tags }}
