---
name: Test

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
      - "renovate/**"
  pull_request:
    branches:
      - "main"

jobs:
  build-container:
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
      packages: "write"

    steps:
      - uses: "actions/checkout@v4"
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: "Login to GitHub Container Hub"
        if: github.event_name != 'pull_request'
        uses: "docker/login-action@v3"
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Metadata"
        uses: "docker/metadata-action@v5"
        id: "metadata"
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr

      - name: "Build Container Image"
        uses: docker/build-push-action@v5
        with:
          context: "."
          file: "docker/Dockerfile"
          labels: ${{ steps.metadata.outputs.labels }}
          platforms: "linux/arm64,linux/amd64"
          push: "${{
              github.event_name != 'pull_request' &&
              github.ref == 'refs/heads/main'
            }}"
          tags: ${{ steps.metadata.outputs.tags }}

  earthly-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: earthly/actions-setup@v1.0.9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # renovate: datasource=docker depName=earthly/earthly
          version: "v0.8.4"
      - uses: actions/checkout@v4
      - name: Run Earthly Lint
        env:
          EARTHLY_CI: true
        run: earthly +lint

  earthly-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: earthly/actions-setup@v1.0.9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # renovate: datasource=docker depName=earthly/earthly
          version: "v0.8.4"
      - uses: actions/checkout@v4
      - name: Run Earthly Lint
        env:
          EARTHLY_CI: true
        run: earthly +test

  pre-commit-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          cache: pip
          # renovate: datasource=docker depName=python
          python-version: "3.12"
      - run: pip install pre-commit$PRECOMMIT_VERSION
        env:
          # renovate: datasource=pypi depName=pre-commit
          PRECOMMIT_VERSION: "==3.5.0"
      - uses: actions/cache@v4
        env:
          # renovate: datasource=pypi depName=pre-commit
          PRECOMMIT_VERSION: "==3.5.0"
        with:
          path: ~/.cache/pre-commit
          key: |-
            ${{ env.PRECOMMIT_VERSION }}
            ${{ env.pythonLocation }}
            ${{ hashFiles('.pre-commit-config.yaml') }}
      - run: pre-commit run --all-files --color=always --show-diff-on-failure
